@import "tailwindcss";

@theme {
  /* Background Colors */
  --color-background: #030712;
  --color-surface: #0f172a;
  --color-border: #1e293b;
  --color-backSurface:#0A1022;

  /* Primary Colors */
  --color-primary: #06b6d4;
  --color-primary-hover: #22d3ee;

  /* Secondary Colors */
  --color-secondary: #8b5cf6;
  --color-secondary-hover: #a855f7;

  /* Status Colors */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  /* Text Colors */
  --color-text: #ffffff;
  --color-text-secondary: #94a3b8;
  --color-text-muted: #64748b;

  /* Radius */
  --radius-card: 24px;
  --radius-button: 12px;
}


:root {
  --gradient-primary: linear-gradient(135deg, #06b6d4, #22d3ee);

  --gradient-secondary: linear-gradient(135deg, #8b5cf6, #a855f7);

  --gradient-hero: linear-gradient(
    135deg,
    #030712 0%,
    #071126 40%,
    #0f172a 100%
  );
  --gradient-text: linear-gradient(
    135deg,
    #22d3ee 0%,
    #3b82f6 40%,
    #8b5cf6 75%,
    #d946ef 100%
  );
  --gradient-background: linear-gradient(
    to bottom right,
    #000000,
    #050816,
    #0A1022
  );

  --shadow-cyan: 0 0 30px rgba(6, 182, 212, 0.25);
  --shadow-purple: 0 0 30px rgba(139, 92, 246, 0.25);
   --shadow-card: 0 10px 30px rgba(34, 211, 238, 0.15);
}
.gradient-text {
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.gradient-icon {
  width: 48px;
  height: 48px;
  background: linear-gradient(
    135deg,
    #00F5FF,
    #4F46E5,
    #A855F7
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.cardBtn{
  @apply px-4 py-2 rounded-xl bg-[#13131d] border border-cyan-500/20 hover:border-cyan-400 hover:bg-[#1a1a25] transition-all disabled:opacity-40 disabled:cursor-not-allowed
}